::-webkit-scrollbar {
    width: 10px; height: 10px;
}

::-webkit-scrollbar-track {
    background: #cbcbcb;
}

::-webkit-scrollbar-thumb {
    background: #5d5d5d;
}

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html {
    min-height: 100%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none; /* prevent resizing text to fit */
    -webkit-touch-callout: none; /* prevent callout to copy image,etc when tap hold */
    -webkit-tap-highlight-color: transparent; /* prevent tap highlight color / shadow */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-osx-font-smoothing: auto; /* firefox font smoothing */ 
    -webkit-font-smoothing: subpixel-antialiased; /* chrome, opera, safari, etc. */
    scroll-behavior: smooth; /* prevent instant scroll, enable smooth movement */
    background: #fafafa;
    font-family: $font; color: #484848;
    @include user-select(none);
    @include transition(.2s);
    
    &.darkMode {
        background-color: #1d1d1d;
        color: #b9b9b9;
    }
}

a {
    color: #6f6f6f; font-style: normal; text-decoration: underline;
    
    &:hover {
        background: #ebebeb;
    }
    
    .darkMode & {
        color: #b9b9b9;
        
        &:hover {
            background: #585858;
        }
    }
}

body {
    position: relative;
    min-height: 100%; margin: 0 auto;
    overflow-x: hidden;
    font-size: 0;
}

#top-area {
    margin: 0 0 70px 0; padding: 20px;
    background: #edf0f4 $top-area-background center;
    @include background-size(60px 60px);
    @include box-shadow(0 2px 12px #e6e6e6);
    @include animation(fade-in .6s);
    
    .darkMode & {
        background-color: #262a31;
        @include box-shadow(0 2px 16px #0e1722);
    }
}

main {
    max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 20px 20px 20px;
}

.content {
    position: relative;
    padding: 30px;
    background: white; border: 1px solid #ebebeb; border-radius: 5px;
    
    .darkMode & {
        background-color: #000000; border-color: #333;
    }
    
    @media (max-width: 550px) {
        padding: 15px;
    }
}

@include keyframes(hidden-elem) {
    0%, 100% {
        @include opacity(0); 
        pointer-events: none;
    }
}

@include keyframes(fade-in) {
    0% {
        @include opacity(0); 
        pointer-events: none;
    }
}