@function pow($base, $exponent) {
    $result: 1;
    @for $i from 1 through $exponent {
        $result: $result * $base;
    }
    @return $result;
}

@function sum($numbers...) {
    $sum: 0;
    @each $number in $numbers {
        $sum: $sum + $number;
    }
    @return $sum;
}

@mixin text-wrap($type: ellipsis) {
    white-space: nowrap;
    overflow-x: hidden;
    @include text-overflow($type);
}

@mixin on-pc {
    @media (min-width: 551px) {
        @content;
    }
}

@mixin on-phone {
    @include on-mobile {
        @content;
    }
}
@mixin on-mobile {
    @media (max-width: 550px) {
        @content;
    }
}