// math functions

@function pow($base, $exponent) {
    $result: 1;
    @for $i from 1 through $exponent {
        $result: $result * $base;
    }
    @return $result;
}

@function sum($numbers...) {
    $sum: 0;
    @each $number in $numbers {
        $sum: $sum + $number;
    }
    @return $sum;
}



// css short-cuts

@mixin text-wrap($type: ellipsis) {
    white-space: nowrap;
    overflow: hidden;
    @include text-overflow($type);
}

@mixin tab-effect() {
    outline: 2px solid #868686;
}



// media queries

@mixin on-desktop {
    @media (min-width: 551px) {
        @content;
    }
}

@mixin on-mobile {
    @media (max-width: 550px) {
        @content;
    }
}