// custom scrollbar in webkit browsers

::-webkit-scrollbar {
    width: 10px; height: 10px;
}

::-webkit-scrollbar-track {
    background: #cbcbcb;
}

::-webkit-scrollbar-thumb {
    background: #5d5d5d;
}



// general elements

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html {
    min-height: 100%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none; /* prevent resizing text to fit */
    -webkit-touch-callout: none; /* prevent callout to copy image,etc when tap hold */
    -webkit-tap-highlight-color: transparent; /* prevent tap highlight color / shadow */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-osx-font-smoothing: auto; /* firefox font smoothing */ 
    -webkit-font-smoothing: subpixel-antialiased; /* chrome, opera, safari, etc. */
    scroll-behavior: smooth; /* prevent instant scroll, enable smooth movement */
    background: #fafafa;
    font-family: $font; color: #484848;
    @include transition(.2s);
    @include animation(hidden-elem .2s, fade-in 1.2s .2s);
    
    &.dark-mode {
        background-color: #1d1d1d;
        color: #b9b9b9;
    }
}

a {
    color: #6f6f6f; font-style: normal; text-decoration: underline;
    
    &:focus,
    &:hover {
        background-color: #ebebeb;
    }
    
    .dark-mode & {
        color: #b9b9b9;
        
        &:focus,
        &:hover {
            background-color: #585858;
        }
    }
}

body {
    position: relative;
    min-height: 100%; margin: 0 auto; padding: 80px 0 0 0;
    overflow-x: hidden;
    font-size: 0;
}

main {
    max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 20px 20px 20px;
}

.content {
    position: relative;
    padding: 30px;
    background: white; border: 1px solid #ebebeb;
    @include border-radius(5px);
    
    .dark-mode & {
        background-color: #000000; border-color: #333;
    }
    
    @include ON_MOBILE {
        padding: 15px;
    }
}

@include keyframes(hidden-elem) {
    0%, 100% {
        @include opacity(0); 
        pointer-events: none;
    }
}

@include keyframes(fade-in) {
    0% {
        @include opacity(0); 
        pointer-events: none;
    }
}



// area at bottom of page
    
#below-charts-notes {
    display: none;
    list-style-type: decimal;
    max-width: 1100px; margin: 0 auto; padding: 0 20px 0 40px;

    .js-on & {
        display: block;
    }

    .dark-mode & {
        color: #6d6d6d;
    }

    li {
        margin: 5px 0;
        color: #a0a0a0; font-size: 12px; line-height: 16px;
    }
    
    a {
        color: inherit;
    }
}

footer {
    max-width: 1100px; margin: 80px auto 0 auto; padding: 20px;
    border-top: 1px solid rgba(0,0,0,.05);

    .dark-mode & {
        border-color: rgba(255,255,255,.05);
    }
    
    .bottom-line {
    
        .copyright {
            display: inline-block;
            margin: 0;
            color: #6a6a6a; font-size: 14px; line-height: 1em;
            
            .dark-mode & {
                color: #b3b3b3;
            }
        }

        .links {
            display: inline-block; float: right;
            font-size: 14px; line-height: 1em;

            a {
                display: inline-block;
                margin: 0 2px; padding: 2px;
            }
        }
    }
    
    @media (max-width: 500px) {
        
        .bottom-line {
            
            .links {
                display: block; float: none;
                margin: 10px 0 0 0;
            }
        }
    }
}



// warning boxes / notices

.notice {
    width: 100%; margin: 0 auto; padding: 20px 40px;
    border-style: solid; border-width: 1px;
    font-size: 16px; line-height: 1.4em;
    @include border-radius(2px);
    
    &.blue,
    &.info {
        background: #e9f2ff; border-color: #bfc7ff;
        color: #485dff;
        
        .dark-mode & {
            background: #4f4f9c; border-color: #6b76c5;
            color: #dde1fb;
        }
    }
    
    &.red,
    &.javascript {
        background: #ffd4d4; border-color: #ffb0b0;
        color: #a91111;
        
        .dark-mode & {
            background: rgba(255, 0, 0, 0.2); border-color: rgba(255, 75, 75, 0.35);
            color: #ffd1d1;
        }
    }
    
    &.green {
        background: #e6ffe9; border-color: #d0ffd0;
        color: #00520d;
        
        .dark-mode & {
            background: #112913; border-color: #264e26;
            color: #b3ffbf;
        }
    }
    
    &.yellow,
    &.warning {
        background: #fdffbc; border-color: #e5cc52;
        color: #a06707;
        
        .dark-mode & {
            background: #5f6143; border-color: #d4e400;
            color: #fffc70;
        }
    }
    
    &.hidden.show,
    &.javascript {
        @include animation(hidden-elem .3s, fade-in .6s .3s);
    }
    
    &.hidden:not(.show),
    .js-on &.javascript {
        display: none;
    }
    
}

#overlay-message {
    display: table; position: fixed; top: 50px; left: 50%; z-index: 9999;
    max-width: 96%; width: auto; max-height: 96%; height: auto; padding: 15px 20px;
    text-align: center; font-size: 15px; line-height: 17px; font-weight: 700;
    @include border-radius(5px);
    @include opacity(.95);
    @include box-shadow(2px 2px 14px rgba(0,0,0,.5));
    @include transform(translate(-50%, -50%));
    @include animation(appear-message .3s);
    
    &.hide {
        @include animation(disappear-message .3s);
    }

    &.normal {
        background: #191919;
        color: #e2e2e2;
        
        .dark-mode & {
            background: black;
        }
    }

    &.error {
        background: #bc0505;
        color: #fff1f1;
    }

    &.warning {
        background: #dbb200; text-shadow: 2px 2px 5px #a48500;
        color: #fffaee;
    }
}

@include keyframes(appear-message) {
    0% {top: -50px;}
    70% {top: 65px;}
}

@include keyframes(disappear-message) {
    30% {top: 65px;}
    100% {top: -50px;}
}