nav {
    max-width: 1100px; margin: 20px auto 0 auto; padding: 25px;
    background: #f9f9f9; border: 1px solid #f0f0f0; 
    @include border-radius(8px);
    @include animation(hidden-elem .6s, fade-in .6s .6s);
    
    .darkMode & {
        background: #1d1d1d; border-color: #373737;
    }
    
    .descriptor {
        display: inline-block;
        margin: 0 8px 0 0;
        font-size: 13px; line-height: 1.2em; color: #b2b2b2; font-weight: 700;
        
        &.hidden {
            display: none;
        }
        
        @include on-mobile {
            display: block;
    
            &.hidden {
                display: block;
                margin: 20px 0 0 0;

                &.top {
                    margin: 10px 0 6px 0;
                }
            }
        }
    }
    
    #animation-controls {
        margin: 15px 0 0 0; padding: 12px 0;
        border: solid #eaeaea; border-width: 2px 0 0 0;
        
        .darkMode & {
            border-color: #464646;
        }
        
        > * {
            display: inline-block;
        }
        
        .right-side {
            float: right;
        }
        
        @include on-mobile {
            margin-top: 20px; padding-top: 0;
            border-width: 0;
            
            > * {
                display: block;
            }

            .right-side {
                float: none;
            }
        }
    }
    
    button {
        position: relative;
        min-width: 48px; min-height: 48px; margin: 0 8px 0 0; padding: 15px 16px;
        background: #ededed;
        font-size: 16px; line-height: 18px; color: #676767; font-weight: 700;
        @include border-radius(5px);
        @include transition(.3s);
        @include box-shadow(2px 2px 0 #bebebe, 1px 1px 4px rgba(0, 0, 0, 0.3));

        .darkMode & {
            background: #555555;
            color: #c1c1c1;
            @include box-shadow(2px 2px 0 #6f6f6f, 1px 1px 4px rgba(255, 255, 255, 0.4));
        }

        &:not(.active):hover,
        &:not(.active):focus,
        &:not(.active):active {
            background: #e6e6e6;
            @include box-shadow(0 0 0 #bebebe, 0 0 2px rgba(0, 0, 0, 0.1));
            @include transform(translate(2px, 2px));
            @include transition(.15s);

            .darkMode & {
                background: #6c6c6c;
                @include box-shadow(0 0 0 #6f6f6f, 0 0 2px rgba(255, 255, 255, 0.2));
            }
        }
        
        &:not(.active):focus {
            @include tab-effect;
        }

        &#load-data {
            background-color: #6091ff;
            color: white;
            @include box-shadow(2px 2px 0 #91b8ff, 1px 1px 4px rgba(0, 0, 0, 0.3));

            &:hover,
            &:focus,
            &:active {
                @include box-shadow(0 0 0 #91b8ff, 0 0 2px rgba(0, 0, 0, 0.1));
            }
        }

        html.animation-playing &#play-button,
        html.animation-paused &#pause-button {
            display: none;
        }
        
        &[secondary] {
            min-width: 32px; min-height: 32px;
            margin-top: 8px; padding: 8px 8px;
            font-size: 14px; line-height: 16px; font-weight: 700; letter-spacing: .7px; text-align: center;

            &.active {
                background: #6e95ff; cursor: auto;
                color: white;
                @include box-shadow(2px 2px 0 #9cbdfb, 1px 1px 4px rgba(11, 46, 163, 0.3));
            }
        }

        &[float-right] {
            float: right;
            margin: 0 0 0 8px;
        }
        
        @include on-mobile {
            
            &#load-data {
                float: left;
            }

            &[float-right] {
                float: none;
                margin: 0 8px 0 0;
            }
            
        }

        // icons

        &[has-icon]:after {
            content: '';
            position: absolute; top: 30%; left: 30%;
            width: 40%; height: 40%;
            background: no-repeat center;
        }
            
        &#play-button:after {
            background-image: $play-button-grey;
            
            .darkMode & {
                background-image: $play-button-white;
            }
        }
        
        &#pause-button:after {
            background-image: $pause-button-grey;
            
            .darkMode & {
                background-image: $pause-button-white;
            }
        }
        
        &#stop-button:after {
            background-image: $stop-button-grey;
            
            .darkMode & {
                background-image: $stop-button-white;
            }
        }
        
        &#toggle-darkmode:after {
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-image: $moon-grey;
            
            .darkMode & {
                background-image: $sun-white;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    
    #pre-defined-speed,
    #custom-speed {
        display: none;
        
        &.active {
            display: inline-block;
        }
    }
        
    %toggle-speed-menu {
        background: none;
        color: transparent;
        @include box-shadow(none);
        
        &:after {
            top: 8px; left: 8px;
            width: 16px; height: 16px;
            @include opacity(.8);
        }

        &:hover,
        &:focus {
            background-color: #eaeaea;
            @include transform(none);
            
            .darkMode & {
                background-color: #343434;
            }
            
            &:after {
                @include opacity(1);
            }
        }
    }
        
    button#open-custom-speed-menu {
        @extend %toggle-speed-menu;

        &:after {
            background-image: $pencil-grey;
        }
    }
    
    button#close-custom-speed-menu {
        @extend %toggle-speed-menu;
        
        &:after {
            background-image: $cross-grey;
        }
    }
    
    input#custom-speed-input {
        width: 112px; height: 32px; margin: 0 8px 0 0; padding: 6px 12px;
        border: 2px solid #b48080;
        color: #656565; font-size: 16px; line-height: 20px;
        
        .darkMode & {
            background: black;
            color: #a6a6a6;
        }
        
        // set by javascript if input value is correct
        &.correct-speed {
            border-color: #80bf80;
        }
    }
    
}