nav {
    position: fixed; top: 0; left: 0; z-index: 9999;
    width: 100%; height: 80px; padding: 20px 15px;
    background-color: #ffffff;
    @include box-shadow(0 1px 1px #f0f0f0);
    
    .dark-mode & {
        background-color: #262626;
        @include box-shadow(0 1px 1px #807d7d);
    }
    
    .inner {
        display: table;
        max-width: 1100px; width: 100%; height: 100%; margin: 0 auto;
    
        .btn {

            html.animation-playing &#play-button,
            html.animation-paused &#pause-button {
                display: none;
            }

            // icons

            &#load-data {
                @extend %icon-load-data-white;
            }

            &#play-button {
                @extend %icon-play-button-grey;

                .dark-mode & {
                    @extend %icon-play-button-white;
                }
            }

            &#pause-button {
                @extend %icon-pause-button-grey;

                .dark-mode & {
                    @extend %icon-pause-button-white;
                }
            }

            &#stop-button {
                @extend %icon-stop-button-grey;

                .dark-mode & {
                    @extend %icon-stop-button-white;
                }
            }

            &#settings-button {
                @extend %icon-settings-button-grey;
                float: right;

                .dark-mode & {
                    @extend %icon-settings-button-white;
                }
            }
            
            html:not(.data-set-loaded) & {
                
                &#play-button,
                &#pause-button,
                &#stop-button,
                &#settings-button {
                    display: none;
                }
            }
        }
    }  
    
    @media (max-width: 550px) {
        
        .inner {
            
            .btn {
                width: 40px; height: 40px; padding: 0;
                background-position: center;
                font-size: 0;
            }
        }
    }
}