// general structure of a hidden pop-up window

.hidden-window {
    position: fixed; top: 0; left: 0; z-index: 9999;
    width: 0; height: 0;
    visibility: hidden; pointer-events: none;
    @include opacity(0);
    @include transition(all 0s .3s, opacity .3s);
    
    &.visible {
        visibility: visible; pointer-events: auto;
        width: 100%; height: 100%;
        @include opacity(1);
        @include transition(all 0s, opacity .3s);
        
        .content {
            @include transform(translate(-50%, -50%));
        }
    }
    
    .blur {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        background: black; 
        @include opacity(.8);
    }
    
    .close {
        position: absolute; top: 12px; right: 12px;
        width: 1em; height: 1em;
        font-size: 28px; color: #ffffff;
        
        &:focus {
            outline: 2px solid currentColor;
        }
        
        .cross {
            position: absolute; top: 0; left: 0;
            width: 1em; height: 1em;
            font-size: 1em; color: currentColor;
            @include transition(.3s);
            
            &:after,
            &:before {
                content: '';
                position: absolute; top: 50%; left: 0; z-index: 2;
                width: 1em; height: .1em;
                background: currentColor; 
                @include border-radius(2px);
            }
            
            &:after {
                @include transform(translate(0, -50%) rotate(45deg));
            }
            
            &:before {
                @include transform(translate(0, -50%) rotate(-45deg));
            }
        }
        
        &:hover .cross {
            @include opacity(.6);
        }
        
        &:active .cross {
            @include transform(scale(.8));
            @include transition(.06s);
        }
    }
    
    .content {
        position: absolute; top: 50%; left: 50%;
        max-width: 500px; width: 90%; max-height: 90%; padding: 24px;
        background: white; border: 1px solid #d0d0d0; overflow-y: auto;
        color: #979595;
        @include border-radius(4px);
        @include transform(translate(-50%, -50%) scale(1.1));
        @include transition(.5s);
        
        .dark-mode & {
            background: #121212; border-color: #363636;
        }
    }
    
}



// window for loading or selecting data sets

#data-load-window {
    
    #file-reader-notice {
        margin-top: 12px;
    }
    
    .heading {
        font-size: 20px; line-height: 23px;
    }
    
    .notice {
        font-size: 14px;
    }
    
    .data-set-btn {
        margin: 8px 8px 0 0; padding: 8px 14px;
        border: 1px solid currentColor;
        color: #5a94ff; font-size: 14px; line-height: 16px;
        @include border-radius(5px);
        @include transition(.3s);
        
        .dark-mode & {
            color: #88b2ff;
        }
        
        &:hover,
        &:focus {
            background: #dce3ff;
            
            .dark-mode & {
                background: #454f7c;
            }
        }
        
        &:focus {
            outline: 2px solid currentColor;
        }
        
        &.example-data-set {
            color: #8b92a2;
            
            .dark-mode & {
                color: #85878d;
            }
        
            &:hover,
            &:focus {
                background: #eaeaea;

                .dark-mode & {
                    background: #414141;
                }
            }
        }
    }
    
    .file-selected {
        position: relative;
        width: 100%;
        @include user-select(none);
        
        .circle {
            padding: 50px 0;
            text-align: center; color: #3e9eff;
            
            &:before {
                content: '';
                display: inline-block;
                width: 100px; height: 100px; margin-bottom: 12px;
                background-color: currentColor;
                @include border-radius(50%);
                @include animation(appear-circle .4s);
            }
            
            .tick {
                @extend %icon-tick-white;
                position: absolute; top: 85px; left: 50%;
                width: 30px; height: 30px;
                background-repeat: no-repeat; background-position: center;
                @include transform(translate(-50%, 0));
            }

            .text {
                display: block;
                width: 100%;
                white-space: nowrap;
                font-size: 15px; line-height: 18px; font-weight: 700;
                @include opacity(.8);
                @include animation(hidden-elem .4s, fade-in .4s .4s);
            }
        }
    }
    
    .file-selected,
    &.file-selected .no-file-selected {
        display: none;
    }
    
    &.file-selected .file-selected,
    .no-file-selected {
        display: block;
    }
    
    #drop-area {
        position: relative;
        width: 100%; height: 150px; margin-top: 12px;
        border: 2px dashed currentColor;
        color: #c1c1c1;
        @include border-radius(6px);
        @include user-select(none);
        @include transition(.15s);
        
        .dark-mode & {
            color: #767676;
        }
        
        &.dragged-over {
            color: #6c6c6c;
            
            .dark-mode & {
                color: #b2b2b2;
            }
        }
        
        .text {
            position: absolute; top: 40px; left: 0;
            width: 100%;
            text-align: center; font-size: 16px; line-height: 18px; font-weight: 700;
            @include transition(.15s);
        }
        
        #selected-file {
            position: absolute; z-index: -1;
            width: 0.1px; height: 0.1px;
            overflow: hidden;
            @include user-select(none);
            @include opacity(0);
            
            &:focus + label {
                outline: 2px solid #2068cb;
            }
            
            + label {
                display: block; position: absolute; bottom: 25px; left: 50%;
                padding: 10px 18px;
                background: #4f7dff; cursor: pointer;
                text-align: center; color: white; font-size: 16px; line-height: 18px;
                @include border-radius(3px);
                @include box-shadow(2px 2px 4px rgba(37, 63, 255, 0.3));
                @include transform(translate(-50%,0));
                @include transition(.3s);
                
                &:hover {
                    background-color: #6d93ff;
                    @include box-shadow(2px 2px 8px rgba(69, 133, 255, 0.6));
                }
            }
        }
    }
}

@include keyframes(appear-circle) {
    0% {@include transform(scale(1.5));}
    55% {@include transform(scale(.8));}
    80% {@include transform(scale(1.1));}
}



// window to select items for comparison in line chart

#compare-items-window {
    
    .heading {
        margin: 0 0 6px 0;
        font-size: 16px; line-height: 18px;
    }
    
    .btn {
        margin: 5px;
    }
    
    .selected-area,
    .unselected-area {
        padding: 15px;
        @include border-radius(5px);
    }
    
    .selected-area {
        border: 2px solid #00bf00;
        
        .btn {
            padding-right: 20px;
            
            &:after {
                @extend %icon-cross-white;
                content: '';
                position: absolute; top: .2em; right: .1em;
                width: 1em; height: 1em;
                background-repeat: no-repeat; background-position: center;
            }
        }
    }
    
    .unselected-area {
        margin: 0 0 24px 0;
        border: 1px solid currentColor;
    }
    
}



// animation and ui settings window

#settings-window {
    
    .descriptor {
        margin: 25px 0 10px 0;
        font-size: 16px; line-height: 20px;
    }

    #toggle-darkmode {
        @extend %icon-moon-grey;
        position: relative;
        background-position: 8px center;
        @include background-size(30px 30px);
        
        .dark-mode & {
            @extend %icon-sun-white;
        }
    }
    
    #pre-defined-speed,
    #custom-speed {
        display: none;
        
        &.active {
            display: inline-block;
        }
    }
        
    #open-custom-speed-menu,
    #close-custom-speed-menu {
        background-color: transparent;
        color: transparent;
        @include box-shadow(none);
        
        &:after {
            top: 8px; left: 8px;
            width: 16px; height: 16px;
            @include opacity(.8);
        }

        &:hover,
        &:focus {
            background-color: #eaeaea;
            @include transform(none);
            
            .dark-mode & {
                background-color: #343434;
            }
            
            &:after {
                @include opacity(1);
            }
        }
    }
        
    #open-custom-speed-menu {
        @extend %icon-pencil-grey;
    }
    
    #close-custom-speed-menu {
        @extend %icon-cross-grey;
    }
    
    #custom-speed-input {
        width: 112px; height: 40px; margin: 0 8px 0 0; padding: 6px 12px;
        border: 2px solid #b48080;
        color: #656565; font-size: 16px; line-height: 20px;
        
        .dark-mode & {
            background: black; border-color: #692c2c;
            color: #a6a6a6;
        }
        
        // set by javascript if input value is correct
        &.correct-speed {
            border-color: #97db97;
            
            .dark-mode & {
                border-color: #376237;
            }
        }
    }
    
}