// custom scrollbar in webkit browsers

::-webkit-scrollbar {
    width: 10px; height: 10px;
}

::-webkit-scrollbar-track {
    background: #cbcbcb;
}

::-webkit-scrollbar-thumb {
    background: #5d5d5d;
}



// general elements

*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html {
    min-height: 100%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none; /* prevent resizing text to fit */
    -webkit-touch-callout: none; /* prevent callout to copy image,etc when tap hold */
    -webkit-tap-highlight-color: transparent; /* prevent tap highlight color / shadow */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-osx-font-smoothing: auto; /* firefox font smoothing */ 
    -webkit-font-smoothing: subpixel-antialiased; /* chrome, opera, safari, etc. */
    scroll-behavior: smooth; /* prevent instant scroll, enable smooth movement */
    background: #fafafa;
    font-family: $font; color: #484848;
    @include user-select(none);
    @include transition(.2s);
    
    &.darkMode {
        background-color: #1d1d1d;
        color: #b9b9b9;
    }
}

a {
    color: #6f6f6f; font-style: normal; text-decoration: underline;
    
    &:focus,
    &:hover {
        background: #ebebeb;
    }
    
    &:focus {
        @include tab-effect;
    }
    
    .darkMode & {
        color: #b9b9b9;
        
        &:focus,
        &:hover {
            background: #585858;
        }
    }
}

body {
    position: relative;
    min-height: 100%; margin: 0 auto;
    overflow-x: hidden;
    font-size: 0;
}

#top-area {
    margin: 0 0 70px 0; padding: 20px;
    background: #edf0f4 $top-area-background center;
    @include background-size(60px 60px);
    @include box-shadow(0 2px 12px #e6e6e6);
    @include animation(fade-in .6s);
    
    .darkMode & {
        background-color: #262a31;
        @include box-shadow(0 2px 16px #0e1722);
    }
}

main {
    max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 20px 20px 20px;
}

.content {
    position: relative;
    padding: 30px;
    background: white; border: 1px solid #ebebeb;
    @include border-radius(5px);
    
    .darkMode & {
        background-color: #000000; border-color: #333;
    }
    
    @include on-mobile {
        padding: 15px;
    }
}

@include keyframes(hidden-elem) {
    0%, 100% {
        @include opacity(0); 
        pointer-events: none;
    }
}

@include keyframes(fade-in) {
    0% {
        @include opacity(0); 
        pointer-events: none;
    }
}



// area on top of page

header {
    position: relative;
    max-width: 1100px; margin: 0 auto;
    
    #logo {
        display: block; float: left;
        width: 50px; height: 50px; margin: 0 10px 0 0;
        @include animation(fade-in-logo 2s);
    }
    
    #title {
        display: inline-block;
        
        span {
            display: block;
            line-height: 1em; font-weight: 700;
            
            &:nth-child(1) {
                font-size: 30px; color: #4196ff; 
                @include animation(fade-in-logo 2.2s);
            }
            
            &:nth-child(2) {
                padding: 0 0 0 8px;
                font-size: 18px; color: #4f9eff;
                @include animation(fade-in-logo 2.4s);
            }
        }
        
    }
    
    
    
}

@include keyframes(fade-in-logo) {
    0%, 20% {
        @include transform(translate(50px, 0)); 
        @include opacity(0);
    }
}





// icon of github with page curl effect in top right corner

#github-link {
    display: block; position: absolute; top: 0; right: 0;
    width: 70px; height: 70px;
    @include transition(.9s);
    
    &:hover {
        width: 100px; height: 100px;
        @include transition(.3s);
    }
    
    &:active, &:focus {
        width: 220px; height: 220px;
        @include transition(1s);
        
        .curl {
            @include box-shadow(0 0 20px rgba(0, 0, 0, .5));
            @include transition(1s);
        }
    }
    
    * {
        display: block; position: absolute; top: 0; right: 0;
        width: 100%; height: 100%;
    }
    
    .curl {
        z-index: 3;
        background: -moz-linear-gradient(45deg, rgba(157,157,157,1) 0%, rgba(193,193,193,1) 14%, rgba(255,255,255,1) 35%, rgba(203,203,203,1) 49%, rgba(141,141,141,1) 51%, rgba(0,0,0,0) 52%);
        background: -webkit-linear-gradient(45deg, rgba(157,157,157,1) 0%,rgba(193,193,193,1) 14%,rgba(255,255,255,1) 35%,rgba(203,203,203,1) 49%,rgba(141,141,141,1) 51%,rgba(0,0,0,0) 52%);
        background: linear-gradient(45deg, rgba(157,157,157,1) 0%,rgba(193,193,193,1) 14%,rgba(255,255,255,1) 35%,rgba(203,203,203,1) 49%,rgba(141,141,141,1) 51%,rgba(0,0,0,0) 52%);
        @include box-shadow(0 0 6px rgba(0,0,0,.5));
        @include transition(.9s);
    }
    
    .icon {
        top: 8px; right: 8px; z-index: 2;
        width: 48px; height: 48px;
        background: $github-icon-white no-repeat center;
        @include background-size(100% 100%);
        
        .darkMode & {
            background-image: $github-icon-black;
        }
    }
    
    .background {
        z-index: 1;
        background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 50%, rgba(54,54,54,1) 51%, rgba(124,124,124,1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(54,54,54,1) 51%,rgba(124,124,124,1) 100%);
        background: linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(54,54,54,1) 51%,rgba(124,124,124,1) 100%);
        
        .darkMode & {
            background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(165,165,165,1) 51%,rgba(212,212,212,1) 100%);
            background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(165,165,165,1) 51%,rgba(212,212,212,1) 100%);
            background: linear-gradient(45deg, rgba(0,0,0,0) 50%,rgba(165,165,165,1) 51%,rgba(212,212,212,1) 100%);
        }
    }
    
}



// area at bottom of page

footer {
    max-width: 1100px; margin: 0 auto; padding: 0 20px;
    @include animation(hidden-elem 1.5s, fade-in .6s 1.5s);
    
    #chart-number-note {
        display: none;
        opacity: .4;
        text-align: center; font-size: 13px; line-height: 16px;
        
        .jsOn & {
            display: block;
        }
    }
    
    #bottom-logo {
        display: block;
        width: 100px; height: 100px; margin: 60px auto 20px auto;
    }
    
    #bottom-links {
        margin: 20px 0 50px 0;
        opacity: .7;
        text-align: center; font-size: 12px; line-height: 14px;
    }

    #bottom-links a {
        display: inline-block;
        margin: 0 2px; padding: 2px;
    }
    
}



// warning boxes / notices

.notice {
    width: 100%; margin: 0 auto; padding: 20px 40px;
    border-style: solid; border-width: 1px;
    font-size: 16px; line-height: 1.4em;
    @include border-radius(2px);
    
    &.blue,
    &.info {
        background: #e9f2ff; border-color: #bfc7ff;
        color: #485dff;
        
        .darkMode & {
            background: #4f4f9c; border-color: #6b76c5;
            color: #dde1fb;
        }
    }
    
    &.red,
    &.javascript {
        background: #ffd4d4; border-color: #ffb0b0;
        color: #a91111;
        
        .darkMode & {
            background: #710909; border-color: #a53737;
            color: #ffd1d1;
        }
    }
    
    &.green {
        background: #e6ffe9; border-color: #d0ffd0;
        color: #00520d;
        
        .darkMode & {
            background: #112913; border-color: #264e26;
            color: #b3ffbf;
        }
    }
    
    &.yellow,
    &.warning {
        background: #fdffbc; border-color: #e5cc52;
        color: #a06707;
        
        .darkMode & {
            background: #5f6143; border-color: #d4e400;
            color: #fffc70;
        }
    }
    
    &.hidden.show,
    &.javascript {
        @include animation(hidden-elem .3s, fade-in .6s .3s);
    }
    
    &.hidden:not(.show),
    .jsOn &.javascript {
        display: none;
    }
    
}

#overlay-message {
    display: table; position: fixed; top: 50px; left: 50%; z-index: 9999;
    max-width: 96%; width: auto; max-height: 96%; height: auto; padding: 15px 20px;
    text-align: center; font-size: 15px; line-height: 17px; font-weight: 700;
    @include border-radius(5px);
    @include opacity(.95);
    @include box-shadow(2px 2px 14px rgba(0,0,0,.5));
    @include transform(translate(-50%, -50%));
    @include animation(appear-message .3s);
    
    &.hide {
        @include animation(disappear-message .3s);
    }

    &.normal {
        background: #191919;
        color: #e2e2e2;
        
        .darkMode & {
            background: black;
        }
    }

    &.error {
        background: #bc0505;
        color: #fff1f1;
    }

    &.warning {
        background: #dbb200; text-shadow: 2px 2px 5px #a48500;
        color: #fffaee;
    }
}

@include keyframes(appear-message) {
    0% {top: -50px;}
    70% {top: 65px;}
}

@include keyframes(disappear-message) {
    30% {top: 65px;}
    100% {top: -50px;}
}