// general elements

.content {
    @include animation(hidden-elem 1.2s, fade-in .6s 1.2s);
}

#chart-container-1,
#chart-container-2 {
    display: none;
    
    &.active {
        display: block;
    }
}



// bar above charts displaying meta information about the data set

#data-set-info {
    margin: 50px auto 14px auto; padding: 10px 16px;
    background: #555555;
    color: white;
    @include border-radius(5px);
    @include animation(hidden-elem .9s, fade-in .6s .9s);
    
    .darkMode & {
        border-color: #4b4b4b;
    }
    
    > * {
        display: inline-block;
        @include text-wrap;
    }
    
    .title {
        max-width: 350px; margin: 0 10px 0 0;
        font-size: 17px; font-weight: 100;
    }
    
    .date {
        float: right;
        max-width: 100px;
        font-size: 14px; line-height: 20px;
        @include opacity(.6);
    }
    
    @include on-mobile {
        padding-top: 17px;
        
        .title {
            display: block; float: none;
            width: 100%;
        }

        .date {
            float: none;
            line-height: 30px;
        }
    }
}



// chart listing all keys as animated columns

#data-set-current-value {
    padding: 15px 0 8px 50px;
    font-size: 70px;
    
    &.hidden {
        display: none;
    }
    
    .container {
        display: inline-block; position: relative;
        max-width: 100%;
        font-size: inherit;
    }
    
    .value,
    .indicator {
        max-width: 100%; padding: 3px;
        white-space: nowrap; overflow: hidden;
        font-size: inherit; line-height: 1em; letter-spacing: 1px; font-weight: 700;
    }
    
    .value {
        display: inline-block; position: relative; z-index: 1;
        @include opacity(.5);
    }
    
    .indicator {
        display: inline-block; position: absolute; top: 0; left: 0; z-index: 2;
        width: 0;
        background: #ff5454;
        color: white;
        @include border-radius(5px);
        @include transition(.1s);
    }
    
    @media (max-width: 750px) {
        padding: 10px 0 6px 50px;
        font-size: 50px;
    }
    
    @include on-mobile {
        padding: 10px 0 6px 2px;
        font-size: 35px;
    }
    
    @media (max-width: 350px) {
        padding-top: 5px; padding-bottom: 3px;
        font-size: 22px;
    }
    
}

#column-chart {
    width: 100%;
    
    .column-container {
        position: relative;
        width: 100%; margin: 2px 0; padding: 2px 122px 2px 50px;
        text-align: left;
        @include transition(1s);
        
        .clickEvent {
            position: absolute; top: 0; left: 0; z-index: 5;
            width: 100%; height: 100%;
        }
        
        .icon {
            position: absolute; top: 6px; left: 2px;
            width: 36px; height: 36px;
            background-repeat: no-repeat;
            background-position: center;
            @include background-size(contain);
            @include filter(drop-shadow(2px 2px 2px rgba(0,0,0,.3)));
            @include transition(.8s);
            
            .darkMode & {
                @include filter(drop-shadow(1px 1px 2px rgba(217, 217, 217, 0.5)));
            }
        }
        
        .meter {
            position: relative;
            min-width: 1%; width: 100%; height: 44px;
            background: #67a2ff; 
            @include border-radius(5px);
            @include box-shadow(2px 2px 1px rgba(159, 159, 159, 0.43));
            @include transition(.1s);
        }
        
        .name,
        .value {
            display: inline-block; 
            position: absolute; top: 50%;
            white-space: nowrap;
            @include transform(translate(0, -50%));
        }
        
        .name {
            left: 15px;
            text-shadow: 1px 1px 2px rgba(0,0,0,.8);
            font-size: 15px; letter-spacing: .2px; font-weight: 700; color: white;
            
            @include on-pc {
                max-width: 85%;
                text-overflow: ellipsis; overflow: hidden;
            }
        }
        
        .value {
            left: 100%;
            padding: 0 0 0 8px;
            font-size: 14px; letter-spacing: -.1px; color: #919191;
        }
        
        &:hover,
        &:active {
            background: #f8f7f7;
            @include border-radius(10px);
            @include transition(.3s);
            
            .darkMode & {
                background: #1a1a1a;
            }
            
            .meter,
            .icon {
                @include opacity(.5);
                @include transition(.3s);
            }
        }
        
        @include on-mobile {
            padding-right: 2px; padding-left: 2px;
            
            .icon {
                display: none;
            }
            
            .name,
            .value {
                @include transform(none);
            }
            
            .name {
                top: 6px;
                font-size: 15px;
            }
            
            .value {
                top: auto; bottom: 6px; left: 15px;
                padding: 0;
                text-shadow: 0 0 3px rgba(0,0,0,.7);
                color: white; font-size: 12px;
            }
        }
        
    }
}



// single bar below column chart display percentage ratio between keys

#column-chart-total {
    width: 100%; margin: 45px 0 8px 0;
    opacity: .55;
    font-size: 15px; line-height: 1.2em; font-weight: 700;
    
    &:before {
        content: 'Total';
        margin: 0 10px 0 0;
        font-size: 12px;
    }
    
    &.hidden {
        display: none;
    }
}

#column-ratio-container {
    width: 100%; height: 80px;
    
    &.hidden {
        display: none;
    }
    
    tbody,
    thead,
    tr,
    td,
    th {
        height: 80px;
    }
}

#column-ratio {
    
    .part-container {
        position: relative;
        background: #575757; border: solid white; border-width: 0 1px;
        
        .darkMode & {
            border-color: black;
        }
        
        &.hidden {
            display: none;
        }
        
        .percentage {
            display: inline-block; position: absolute; top: 50%; left: 0; z-index: 1;
            width: 100%; padding: 0 10px;
            text-shadow: 1px 1px 3px rgba(0,0,0,.5);
            color: white; text-align: center; font-size: 15px; line-height: 1em; font-weight: 700;
            white-space: nowrap; overflow: hidden;
            @include transform(translate(0, -50%));
        }
        
        .clickEvent {
            position: absolute; top: 0; left: 0; z-index: 2;
            width: 100%; height: 100%;
            cursor: pointer;
        }
        
        .tooltip {
            display: none; position: absolute; top: 100%; left: 50%; z-index: 3;
            max-width: 300px; width: 100%; min-width: 200px; padding: 15px;
            background: #313131;
            text-shadow: 1px 1px 3px rgba(0,0,0,.3);
            color: white; text-align: center;
            @include border-radius(3px);
            @include transform(translate(-50%, 25px));
            
            // arrow
            &:after {
                content: '';
                display: block; position: absolute; top: -14px; left: 50%;
                width: 0; height: 0; 
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #313131;
                @include transform(translate(-50%, 0));
            }
            
            .icon {
                display: inline-block;
                width: 30px; height: 30px; margin: 10px 0 0 0;
                background-repeat: no-repeat;
                background-position: center;
                @include background-size(contain);
            }
            
            .tooltip-percentage {
                @extend .percentage;
                display: inline; position: relative; top: -8px;
                width: auto; padding: 0 0 0 10px;
                line-height: 30px;
            }
            
            .name {
                margin: 12px 0 8px 0;
                font-size: 15px; line-height: 1em; font-weight: 700;
                @include text-wrap;
            }
            
            .description {
                font-size: 14px; line-height: 16px;
            }
        }
        
        &:hover .tooltip {
            display: inline-block;
        }
        
    }
}




// menu bar on top of individual chart

#individual-chart-menu {
    width: 100%; margin: 0 0 20px 0;
    
    button {
        padding: 10px 12px;
        background: #f4f4f4; border: 1px solid #e6e6e6;
        color: #979797; font-size: 14px; line-height: 14px;
        @include border-radius(5px);
        @include transition(.3s);
        
        .darkMode & {
            background-color: #242424; border-color: #3e3e3e;
            color: #898989;
        }
        
        &:hover {
            @include box-shadow(1px 1px 5px rgba(0,0,0,.2));
            
            .darkMode & {
                @include box-shadow(2px 2px 5px rgba(255,255,255,.3));
            }
        }
        
        &.right {
            float: right;
            margin: 0 0 0 5px;
        }
        
        &#back-to-column-chart-btn {
            background: #ffdddd; border-color: #ffa6a6;
            color: #c92f2f;
            
            .darkMode & {
                background: #3e0d0d; border-color: #8c3d3d;
                color: #ea6969;
            }
        }
        
        &:after {
            content: '';
            float: left;
            width: 1em; height: 1em; margin: 0 .5em 0 0;
            background-repeat: no-repeat;
            background-position: center;
            @include background-size(100% 100%);
        }
        
        &#back-to-column-chart-btn:after {
            background-image: $arrow-left-red;
        }
        
        &#compare-btn:after {
            background-image: $compare-icon;
            @include opacity(.4);
        }
        
        &#download-chart-as-image:after {
            background-image: $download-icon;
            @include opacity(.4);
        }
        
        @include on-mobile {
            &,
            &.right {
                display: block; float: none;
                width: 100%; margin: 0 0 5px 0; padding: 12px;
            }
        }
    }
}