/* ################# */
/* ### CHART TOP ### */
/* ################# */

#data-set-info {
    margin: 50px auto 14px auto; padding: 10px 16px;
    background: #555555; border-radius: 5px;
    color: white;
    -o-animation: hidden-elem .9s, fade-in .6s .9s;
    -moz-animation: hidden-elem .9s, fade-in .6s .9s;
    -webkit-animation: hidden-elem .9s, fade-in .6s .9s;
    animation: hidden-elem .9s, fade-in .6s .9s;
}
.darkMode #data-set-info {
    border-color: #4b4b4b;
}

#data-set-info > * {
    display: inline-block;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

#data-set-info .title {
    max-width: 350px; margin: 0 10px 0 0;
    font-size: 17px; font-weight: 100;
}

#data-set-info .date {
    float: right;
    max-width: 100px;
    opacity: .6;
    font-size: 14px; line-height: 20px;
}





/* ##################### */
/* ### CHART CONTENT ### */
/* ##################### */

.content {
    -o-animation: hidden-elem 1.2s, fade-in .6s 1.2s;
    -moz-animation: hidden-elem 1.2s, fade-in .6s 1.2s;
    -webkit-animation: hidden-elem 1.2s, fade-in .6s 1.2s;
    animation: hidden-elem 1.2s, fade-in .6s 1.2s;
}

#data-set-current-value {
    padding: 15px 0 8px 50px;
    font-size: 70px;
}
#data-set-current-value.hidden {
    display: none;
}

#data-set-current-value .container {
    display: inline-block; position: relative;
    max-width: 100%;
    font-size: inherit;
}

#data-set-current-value .value,
#data-set-current-value .indicator {
    max-width: 100%; padding: 3px;
    white-space: nowrap; overflow: hidden;
    font-size: inherit; line-height: 1em; letter-spacing: 1px; font-weight: 700;
}

#data-set-current-value .value {
    display: inline-block; position: relative; z-index: 1;
    opacity: .5;
}

#data-set-current-value .indicator {
    display: inline-block; position: absolute; top: 0; left: 0; z-index: 2;
    width: 0;
    background: #ff5454; border-radius: 5px;
    color: white;
    -o-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
}

@media (max-width: 750px) {
    
    #data-set-current-value {
        padding: 10px 0 6px 50px;
        font-size: 50px;
    }
    
}

@media (max-width: 550px) {
    
    #data-set-current-value {
        padding: 10px 0 6px 2px;
        font-size: 35px;
    }
    
    #data-set-info {
        padding-top: 17px;
    }
    
    #data-set-info .title {
        display: block; float: none;
        width: 100%;
    }
    
    #data-set-info .date {
        float: none;
        line-height: 30px;
    }
    
}

@media (max-width: 350px) {
    
    #data-set-current-value {
        padding-top: 5px; padding-bottom: 3px;
        font-size: 22px;
    }
    
}





/*
 * ####################
 * ### COLUMN CHART ###
 * ####################
 */

#column-chart {
    display: none;
    width: 100%;
}

#column-chart.active {
    display: block;
}

.column-container {
    position: relative;
    width: 100%; margin: 2px 0; padding: 2px 122px 2px 50px;
    text-align: left;
    -o-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.column-container .clickEvent {
    position: absolute; top: 0; left: 0; z-index: 5;
    width: 100%; height: 100%;
}

.column-container:hover,
.column-container:active {
    background: #f8f7f7; border-radius: 10px;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.darkMode .column-container:hover,
.darkMode column-container:active {
    background: #1a1a1a;
}

.column-container:hover .meter,
.column-container:active .meter,
.column-container:hover .icon,
.column-container:active .icon {
    opacity: .5;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.column-container .icon {
    position: absolute; top: 2px; left: 2px;
    width: 44px; height: 44px;
    background: no-repeat contain;
    background-position: center right;
    -o-transition: .8s;
    -moz-transition: .8s;
    -webkit-transition: .8s;
    transition: .8s;
}

.column-container .meter {
    position: relative;
    min-width: 1%; width: 100%; height: 44px;
    background: #67a2ff; border-radius: 5px;
    -moz-box-shadow: 2px 2px 1px rgba(159, 159, 159, 0.43);
    -webkit-box-shadow: 2px 2px 1px rgba(159, 159, 159, 0.43);
    box-shadow: 2px 2px 1px rgba(159, 159, 159, 0.43);
    -o-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
}

.column-container .name,
.column-container .value {
    display: inline-block; 
    position: absolute; top: 50%;
    white-space: nowrap;
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.column-container .name {
    left: 15px;
    font-size: 15px; letter-spacing: .2px; font-weight: 700; color: white; text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}

.column-container .value {
    left: 100%;
    padding: 0 0 0 8px;
    font-size: 14px; letter-spacing: -.1px; color: #919191;
    
}

@media (min-width: 550px) {

    .column-container .name {
        max-width: 85%;
        text-overflow: ellipsis; overflow: hidden;
    }
    
}

@media (max-width: 550px) {

    .column-container {
        padding-right: 2px; padding-left: 2px;
    }

    .column-container .icon {
        display: none;
    }

    .column-container .name,
    .column-container .value {
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    
    .column-container .name {
        top: 6px;
        font-size: 15px;
    }

    .column-container .value {
        top: auto; bottom: 6px; left: 15px;
        padding: 0;
        text-shadow: 0 0 3px rgba(0,0,0,.7);
        color: white; font-size: 12px;
    }
    
}





/*
 * ########################
 * ### INDIVIDUAL CHART ###
 * ########################
 */

#individual-chart-menu {
    width: 100%; margin: 0 0 20px 0;
}

#individual-chart-menu button {
    padding: 10px 12px;
    background: #f4f4f4; border: 1px solid #e6e6e6; border-radius: 5px;
    color: #979797; font-size: 14px; line-height: 14px;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}
.darkMode #individual-chart-menu button {
    background-color: #242424; border-color: #3e3e3e;
    color: #898989;
}

#individual-chart-menu button:hover {
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.darkMode #individual-chart-menu button:hover {
    -moz-box-shadow: 2px 2px 5px rgba(255,255,255,.3);
    -webkit-box-shadow: 2px 2px 5px rgba(255,255,255,.3);
    box-shadow: 2px 2px 5px rgba(255,255,255,.3);
}

#individual-chart-menu button.right {
    float: right;
    margin: 0 0 0 5px;
}

#individual-chart-menu button#back-to-column-chart-btn {
    background: #ffdddd; border-color: #ffa6a6;
    color: #c92f2f;
}
.darkMode #individual-chart-menu button#back-to-column-chart-btn {
    background: #3e0d0d; border-color: #8c3d3d;
    color: #ea6969;
}

#individual-chart-menu,
#individual-chart {
    display: none;
}

#individual-chart-menu.active,
#individual-chart.active {
    display: block;
}

@media (max-width: 550px) {
    
    #individual-chart-menu button,
    #individual-chart-menu button.right {
        display: block; float: none;
        width: 100%; margin: 0 0 5px 0; padding: 12px;
    }
    
}